.collectible-item {
    visibility: hidden;
    position: relative;
    cursor: pointer;
    width: 22px;
    height: 22px;
    z-index: 1;
}

.collectible-item-inner {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-repeat: no-repeat;
    background-position: center center;
    pointer-events: none;
}

.collectible-item-collected {
    visibility: visible;
    position: absolute;
    left: 0;
    top: 0;
    cursor: default;
}

.collectible-item-collected::before {
    display: none;
}

.collectible-item-spot::before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-repeat: no-repeat;
    background-position: center center;
    filter: grayscale(100%);
}

#collectible-item-drawer {
    display: flex;
    position: fixed;
    left: -230px;
    top: calc(50% - 55px);
    width: 200px;
    background: #ddd;
    border-radius: 3px;
    transition: transform 500ms ease;
}

#collectible-item-drawer::before {
    content: "»";
    text-align: right;
    position: absolute;
    right: -15px;
    bottom: 0;
    width: 30px;
    height: 22px;
    background: #ddd;
    border-radius: 3px;
    padding-right: 3px;
    color: #999;
}

#collectible-item-drawer.someItems {
    transform: translateX(30px);
}

#collectible-item-drawer.someItems:hover, #collectible-item-drawer.presenting {
    transform: translateX(60px);
}

#collectible-item-drawer.allItems {
    transform: translateX(230px);
}

#collectible-item-holder {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30px;
}

#collectible-item-holder > * {
    position: relative;
    padding: 2px 0;
    width: 22px;
    height: 22px;
}

#collectible-item-chest-holder {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#collectible-item-chest {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-image: url(img/chest.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 40px 40px;
}

.collectible-help {
    object-fit: contain;
    margin-bottom: 22px !important;
    cursor: pointer;
    margin: 4px 0;
    opacity: 0.5;
    transition: opacity 200ms;
    background-image: url(img/question-circle.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 20px 20px;
}

.collectible-help:hover {
    opacity: 1;
}

/* THEME: "keys" */

.collectible-theme-keys .collectible-item .collectible-item-inner {
    animation: CollectibleThemeKeysMoveUpDown 2s ease infinite;
    background-image: url(img/kenney-key.svg);
    transition: transform 200ms;
}

.collectible-theme-keys .collectible-item:hover .collectible-item-inner {
    transform: translateY(-3px);
    animation: none;
}

.collectible-theme-keys .collectible-item::before {
    content: '';
    position: absolute;
    left: 30%;
    right: 30%;
    bottom: -1px;
    height: 1px;
    background: gray;
    border-radius: 50%;
    filter: blur(2px);
    animation: CollectibleThemeKeysFadeInOut 2s ease infinite;
    pointer-events: none;
}

.collectible-theme-keys .collectible-item:hover::before {
    animation: none;
}

.collectible-theme-keys .collectible-item-spot::before {
    background-image: url(img/kenney-key.svg);
}

.collectible-theme-keys .collectible-item-collected .collectible-item-inner {
    animation: none;
}

.collectible-theme-keys .collectible-item[data-keyid="0"] {
    filter: saturate(150%) hue-rotate(304deg);
}

.collectible-theme-keys .collectible-item[data-keyid="1"] {
    filter: saturate(150%) brightness(90%);
}

.collectible-theme-keys .collectible-item[data-keyid="2"] {
    filter: hue-rotate(71deg) brightness(85%);
}

.collectible-theme-keys .collectible-item[data-keyid="3"] {
    filter: saturate(150%) hue-rotate(176deg);
}

.collectible-theme-keys .collectible-item[data-keyid="4"] {
    filter: saturate(178%) hue-rotate(279deg);
}

@keyframes CollectibleThemeKeysMoveUpDown {
  0%, 100% {
    bottom: 0;
  }
  50% {
    bottom: 3px;
  }
}

@keyframes CollectibleThemeKeysFadeInOut {
  0%, 100% {
    background: black;
  }
  50% {
    background: gray;
  }
}

/* THEME: "coins" */

.collectible-theme-coins .collectible-item .collectible-item-inner {
    animation: CollectibleThemeCoinsIdle 0.6s infinite steps(1);
    transition: transform 200ms;
}

.collectible-theme-coins .collectible-item:hover .collectible-item-inner {
    animation: CollectibleThemeCoinsIdle 0.45s infinite steps(1);
    transform: translateY(-3px);
}

.collectible-theme-coins .collectible-item::before {
    content: '';
    position: absolute;
    left: 30%;
    right: 30%;
    bottom: -1px;
    height: 1px;
    background: black;
    border-radius: 50%;
    filter: blur(2px);
    pointer-events: none;
}

.collectible-theme-coins .collectible-item:hover::before {
    background: gray;
}

.collectible-theme-coins .collectible-item-spot::before {
    filter: grayscale(100%) contrast(10%) brightness(160%);
}

.collectible-theme-coins .collectible-item .collectible-item-inner, .collectible-theme-coins .collectible-item-spot::before {
    background-image: url(img/coin-ani.png);
    background-position: 0 0;
    width: 16px;
    height: 16px;
    top: calc(50% - 8px);
    left: calc(50% - 8px);
}

.collectible-theme-coins .collectible-item-collected .collectible-item-inner {
    animation: none;
}

.collectible-theme-coins .collectible-item[data-keyid="0"] {
    filter: saturate(150%) hue-rotate(304deg);
}

.collectible-theme-coins .collectible-item[data-keyid="1"] {
    filter: saturate(150%) brightness(90%);
}

.collectible-theme-coins .collectible-item[data-keyid="2"] {
    filter: hue-rotate(71deg) brightness(85%);
}

.collectible-theme-coins .collectible-item[data-keyid="3"] {
    filter: saturate(150%) hue-rotate(176deg);
}

.collectible-theme-coins .collectible-item[data-keyid="4"] {
    filter: saturate(178%) hue-rotate(279deg);
}

@keyframes CollectibleThemeCoinsIdle {
	0% {background-position:0px 0px;}
	16.67% {background-position:-16px 0px;}
	33.33% {background-position:-32px 0px;}
	50% {background-position:-48px 0px;}
	66.67% {background-position:-64px 0px;}
	83.33%, 100% {background-position:-80px 0px;}
}
